body
  margin-top: 80px

.container
  &.loading
    opacity: 0.4

.job
  .ellipsify
    height: 54px
    overflow: hidden
    position: relative

    .pre-dots
      float: right
      height: 36px

    .dots
      float: right
      clear: right
